<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
        <h1 style="font-size: 4em;">WELCOME</h1>
        <!-- sign in & login -->
        <p style="font-size: 1.5em;">
            <a href="/register" style="margin-right: 20px;">REGISTER</a>
            <a href="/login">LOGIN</a>
        </p>
    </div>
</body>
</html>